<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77861919972-dcctl3otrcda9mhl0kldjlk4bv5h2hu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77861919972-dcctl3otrcda9mhl0kldjlk4bv5h2hu9</string>
	<key>API_KEY</key>
	<string>AIzaSyAJA14lq122ueqZ_jlgXP4npwsitjUgV14</string>
	<key>GCM_SENDER_ID</key>
	<string>77861919972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakaken.guchimemoapp</string>
	<key>PROJECT_ID</key>
	<string>guchi-memo</string>
	<key>STORAGE_BUCKET</key>
	<string>guchi-memo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77861919972:ios:4d410cc896bc924e96a0f1</string>
</dict>
</plist>